* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#header {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.wa_logo {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}


.country {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



tr td {
  max-width: 100%;
  border: 1px solid white;
  background-color: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 13px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;

}

.del,.chat,.no{
  width: 30px;
}

.no{
  background-color: blueviolet !important;
}

th {
  background-color: rgb(0, 0, 0) !important;
  border: 1px solid white;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: yellow !important;

}


.fa-whatsapp {
  color: #ece5dd;
}


.fa-whatsapp:hover {
  color:white;
  background-color: green;
 
  border-radius: 50%;
  
}

.container{
  background-color: aquamarine;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.btn-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:100px;


}

.fa-trash:hover{
  color: red;
  transition: 0.5s;
}


table{
  max-width: 100%;
}